.footer {
    padding: 50px 0 0;
    background-color: $color-dark-light;
    &__img {
        height: 130px;
    }
    &__info {
        @include flexBox(hor);
        height: 100%;
        &-text {
            display: block;
            & > p {
                font-size: 1.7rem;
                padding: 5px 0;
            }
            &-list {
                display: block;
                margin-left: 18px;
                & > li {
                    list-style-type: disc;
                }
                & > li > a {
                    font-size: 1.7rem;
                    padding: 5px 0;
                    color: $color-main;
                    &:hover {
                        color: rgb(54, 73, 248);
                    }
                }
            }
        }
        &-header {
            font-weight: 500;
            text-transform: uppercase;
            font-size: 2rem;
            margin-bottom: 8px;
        }
        &-content {
            display: flex;
            justify-content: space-around;
        }
        &-socials {
            @include flexBox(hor);
            justify-content: space-around;
            &-link {
                & > i {
                    margin: 12px;
                    font-size: 3.6rem;
                    color: $color-dark;
                    &:hover {
                        color: rgb(64, 108, 255);
                    }
                }
            }
        }
        &-icon {
            @include flexBox(hor);
            justify-content: space-evenly;
        }
    }

    &__bottom {
        padding: 20px 48px 10px;
        &-text {
            line-height: 26px;
            text-align: center;
            font-size: 1.7rem;
        }
    }
}
