.header {
    background-color: #fff;
    padding: 8px 4px;
    &__main {
        @include flexBox(hor);
        justify-content: space-between;
        padding: 0 12px;
    }
    &__logo {
        &-img {
            height: 65px;
        }
    }
    &__login {
        @include flexBox(both);
        cursor: pointer;
        &-avatar {
            height: 50px;
            width: 50px;
        }
        &-name {
            margin: 0 6px;
        }
        &-link {
            color: $color-main;
            padding: 8px 12px;
            font-size: 1.6rem;
            &:hover {
                background-color: #ddd;
                color: $color-main;
            }
        }
    }
}
