$main-font: "Helvetica", "Arial", sans-serif;

$color-main: #212b36;
$color-red: #ea3223;
$color-dark: #8e8e93;
$color-dark-light: #e9ecef;

$background: #f6f7f9;
$color-hero: #ffe3df;

$font-contest: "Signika Negative", sans-serif;

$font-be: "Be Vietnam Pro", sans-serif;
