.banner {
    position: relative;
    overflow-x: hidden;

    &__slides {
        .owl-theme .owl-nav {
            margin-top: 0;
        }
        .owl-prev,
        .owl-next {
            transform: translateY(-50%);
            display: inline-block !important;
            zoom: 1;
            top: 50%;
            position: absolute;
            padding: 6px 0 6px !important;
            margin: 0 !important;
            border-radius: 5px !important;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            background: rgba(0, 0, 0, 0.5) !important;
            width: 48px;
            height: 34px;
            text-align: center;
            color: #fff !important;
            font-family: -webkit-body !important;
            line-height: 20px !important;
            font-size: 3.6rem;
            & > span {
                font-size: 3.6rem;
            }
        }
        .owl-prev {
            left: 10px;
        }
        .owl-next {
            right: 10px;
        }
    }
    &__img {
        // height: 600px;
        max-height: 500px;
        height: auto;
        width: 100%;
    }
    &__content {
        color: #fff;
        padding: 200px 0px 200px 0px;
        width: 48%;
    }
    &__heading {
        width: 90%;
        font-size: 4.9rem;
    }
    &__text {
        margin: 30px 0;
        line-height: 30px;
        font-size: 1.7rem;
    }
    &__btn {
        box-shadow: -2px 6px 8px rgba(234, 50, 34, 0.2);
        border-radius: 5px;
        font-size: 1.9rem;
        padding: 8px 16px;
    }
}
