.createPass {
    margin: 84px 0;
    display: none;
    animation: swal2-show ease 0.3s;
    &.open {
        display: block;
    }
    &__content {
        padding: 60px 90px 84px;
        & button {
            margin-top: 35px;
            border-radius: 6px;
            font-size: 1.9rem;
            padding: 8px 18px;
        }
        & > .form-group {
            padding: 12px 0;
            & > label {
                font-size: 1.9rem;
                margin: 0 0 14px 8px;
            }
            & > input {
                padding: 9px 20px;
                font-size: 1.7rem;
            }
        }
    }
    &__header {
        margin-bottom: 18px;
        text-align: center;
        font-size: 1.9rem;
        text-transform: uppercase;
        font-weight: 600;
    }
}
