.find {
    font-family: $font-be;
    background-color: #fff;
    min-height: 90vh;
    margin-top: 4px;
    padding: 40px 0;
    &__search {
        position: relative;
        &-input {
            width: 70%;
            margin: auto;
            background-color: #fff;
            padding: 14px 14px 14px 24px !important;
            font-size: 1.8rem;
        }
        &-btn {
            position: absolute;
            top: 50%;
            right: 17%;
            transform: translateY(-50%);
            outline: none;
            border: 0;
            background-color: #fff;
            cursor: pointer;
            & > i {
                color: rgb(71, 43, 43);
                font-size: 2rem;
                font-weight: 600;
            }
        }
    }
    &__contest {
        &-heading {
            font-family: $font-contest;
            font-weight: 600;
            font-size: 2.6rem;
            margin: 30px 0 20px;
        }
        &-item {
            position: relative;
            overflow: hidden;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
            background-color: #fff;
            border-radius: 10px;
            margin-bottom: 35px;
        }
        &-info {
            color: #6c757d;
            font-size: 1.7rem;
            padding: 24px 22px 20px;
            height: 140px;
            &-header {
                font-size: 1.7rem;
                font-weight: 600;
                height: 46px;
                margin-bottom: 10px;
                color: $color-main;
                line-height: 23px;
            }
            &-text {
                margin-bottom: 6px;
            }
            &-avatar {
                position: absolute;
                top: 50%;
                left: 4px;
                width: 80px;
                height: 33px;
                transform: translateY(-50%);
                background-repeat: no-repeat;
                background-image: url(../img/findContest/avatar-bg.png);
                &-logo {
                    border-radius: 50%;
                    margin: 4px auto 0;
                    width: 34px;
                    height: 34px;
                }
            }
            &-share {
                left: 0px;
                height: 25px;
            }
        }
        &-img {
            border-radius: 10px;
            background-repeat: no-repeat;
            background-size: cover;
            padding-bottom: 38%;
            background-position: center left;
            border: 1px solid #e1e1e1;
        }
        &-share {
            &-img {
                padding-bottom: 52%;
            }
            &-time {
                font-size: 1.5rem;
                color: #929faf;
                padding: 10px 0 16px;
            }
            &-info {
                padding: 16px 18px 20px;
            }
            &-avatar {
                left: 2px;
                height: 21px;
                top: 48%;
            }
            &-header {
                line-height: 24px;
                font-family: $font-be;
                font-weight: 600;
                font-size: 1.5rem;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
            }
        }

        &-interact {
            display: flex;
            justify-content: flex-end;
            &-item {
                margin-left: 10px;
            }
            &-icon {
                margin-right: 4px;
            }
        }
    }
}
