.newsExam {
    background-color: #fff;
    font-family: $font-be;
    padding-bottom: 50px;
    &__header {
        padding: 30px 0 20px;
        font-size: 3.1rem;
        font-weight: 600;
    }
    &__main {
        &-item {
            overflow: hidden;
            background-color: #fff;
            border-radius: 25px;
            box-shadow: 0 0 2px #999;
            margin-bottom: 24px;
        }
        &-img {
            background-repeat: no-repeat;
            background-size: cover;
            padding-bottom: 33%;
            background-position: center center;
        }
        &-content {
            padding: 12px 24px 19px;
        }
        &-name {
            font-size: 1.8rem;
            font-weight: 600;
            text-transform: uppercase;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
            line-height: 29px;
        }
        &-position {
            font-size: 1.5rem;
            margin: 10px 0px 6px;
            font-weight: 500;
        }
        &-icon {
            font-size: 1.4rem;
            margin-right: 6px;
        }
    }
}
